.ButtonsList {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.ActionButton {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: black;
  background: none;
  padding: 10px 15px;
  border-radius: 15px;
  border: black solid 2px;
  transition: 1s;
  cursor: pointer;
  margin: 0 20px;
}
.ActionButton:hover {
  color: #8d230f;
  border: #8d230f solid 2px;
}
