.TableItemData {
  padding: 5px 15px;
  border: 1px solid #8d230f;
  text-align: center;
}
.TableItemDataLink {
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}
.TableItemDataLink:hover {
  transition: 0.5s;
  background: rgba(141, 35, 15, 0.4);
}
